<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278501371998-03o7bih3u27c1q7bm325sg55rssab081.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278501371998-03o7bih3u27c1q7bm325sg55rssab081</string>
	<key>API_KEY</key>
	<string>AIzaSyCk2_aH_0Qp0p6vVVUWhaZpTTS4pKIC1po</string>
	<key>GCM_SENDER_ID</key>
	<string>278501371998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinalProjectSahar</string>
	<key>PROJECT_ID</key>
	<string>flutter-final-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-final-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278501371998:ios:d6d5fc6d7e4d09f04e44cf</string>
</dict>
</plist>